@import url(../node_modules/normalize.css/normalize.css);
@import url(../node_modules/spectre.css/dist/spectre.min.css);
html, body, .app {
  min-height: 100vh; }

html, body {
  margin: 0;
  padding: 0; }

.app header {
  position: relative;
  height: 50px; }
  .app header nav {
    width: 100%;
    position: fixed; }
    .app header nav .container .logo {
      color: #50596c;
      font-size: 20px;
      display: inline-block;
      margin: .6rem 0 .6rem .8rem; }
    .app header nav .container ul {
      float: right;
      list-style: none; }
      .app header nav .container ul li {
        margin-right: 10px;
        display: inline; }
        .app header nav .container ul li a {
          color: #50596c; }

.app footer {
  padding: 40px; }
  .app footer .version::before {
    content: '0.1.0'; }

.block {
  text-align: center;
  padding: 30px; }

.terminal {
  overflow: hidden;
  border-radius: 5px;
  background-color: #2b3d50;
  max-width: 700px;
  margin: 30px auto; }
  .terminal .header {
    background-color: #d7d7d7;
    text-align: left;
    padding: 5px; }
    .terminal .header div {
      display: inline-block;
      width: 10px;
      height: 10px;
      margin: 0 3px; }
      .terminal .header div.r {
        background-color: #c23824; }
      .terminal .header div.y {
        background-color: #f2c600; }
      .terminal .header div.g {
        background-color: #1aaf5d; }
  .terminal .command {
    font-size: 20px;
    padding: 10px 10px;
    text-align: left; }
